:root {
  --bp-xs: 320px;
  --bp-sm: 576px;
  --bp-md: 768px;
  --bp-lg: 992px;
  --bp-lt: 1024px;
  --bp-ltm: 1120px;
  --bp-ltl: 1440px;
  --bp-xl: 1920px;
  --bp-xxl: 2560px;
  --bp-qxl: 3840px;

  --vbp-xs: 600px;
  --vbp-sm: 800px;
  --vbp-md: 1000px;
  --vbp-lg: 1200px;
  --vbp-xl: 1600px;
  --vbp-xxl: 1920px;
}
