// Extra Small tablets and large smartphones (landscape view)
$xxs:  320;

// Small tablets and large smartphones (landscape view)
$xs:  380;

// Small tablets and large smartphones (landscape view)
$sm:  576;

// Small tablets (portrait view)
$md:  768;

// Tablets and small desktops
$lg:  992;

// Large tablets and medium desktops
$xl:  1200;

// Large desktops
$xxl:  1400;

// Extra Large desktops
$fxl:  1550;

// Full Extra large desktops
$qxl:  1920;

// Ultra  large desktops
$uxl:  2540;

// Extra Ultra large desktops
$euxl:  4096;



