$horizontal-breakpoints: (
        xs: 320,
        sm: 576,
        md: 768,
        lg: 992,
        lt: 1023,
        ltm: 1199,
        ltl: 1439,
        xl: 1919,
        xxl: 2559,
        qxl: 3840
);

$vertical-breakpoints: (
        xs: 600,     // для мобильных устройств в портретном режиме
        sm: 800,     // для большинства мобильных устройств в ландшафтном режиме и некоторых планшетов в портретном режиме
        md: 1000,    // для большинства планшетов в портретном режиме и некоторых планшетов в ландшафтном режиме
        lg: 1200,    // для большинства планшетов в ландшафтном режиме и некоторых маленьких рабочих станций
        xl: 1600,    // для больших рабочих станций
        xxl: 1601    // для сверхбольших мониторов и телевизоров
);
