@import "data";

:export{
  xs:map-get($horizontal-breakpoints,xs);
  sm:map-get($horizontal-breakpoints,sm);
  md:map-get($horizontal-breakpoints,md);
  lg:map-get($horizontal-breakpoints,lg);
  lt:map-get($horizontal-breakpoints,lt);
  ltm:map-get($horizontal-breakpoints,ltm);
  ltl:map-get($horizontal-breakpoints,ltl);
  xl:map-get($horizontal-breakpoints,xl);
  xxl:map-get($horizontal-breakpoints,xxl);
  qxl:map-get($horizontal-breakpoints,qxl);
}
