@import "data";

$screen-xxs: #{$xxs}px;     //320
$screen-xs: #{$xs}px;       //380
$screen-sm: #{$sm}px;       //576
$screen-md: #{$md}px;       //768
$screen-lg: #{$lg}px;       //992
$screen-xl: #{$xl}px;       //1200
$screen-2xl: #{$xxl}px;     //1400
$screen-fxl: #{$fxl}px;     //1550
$screen-qxl: #{$qxl}px;     //1920
$screen-uxl: #{$uxl}px;     //2540
$screen-euxl: #{$euxl}px;     //4096
