@import "screen";



/*=============================== MOBILE TO FIRST =================================*/
@mixin vh-for-sm {
  @media (min-height: #{$screen-sm}) {
    @content;
  }
}

@mixin vh-for-md {
  @media (min-height: #{$screen-md}) {
    @content;
  }
}

@mixin vh-for-lg {
  @media (min-height: #{$screen-lg}) {
    @content;
  }
}

@mixin vh-for-xl {
  @media (min-height: #{$screen-xl}) {
    @content;
  }
}

@mixin vh-for-xxl {
  @media (min-height: #{$screen-2xl}) {
    @content;
  }
}

@mixin vh-for-qxl {
  @media (min-height: #{$screen-4xl}) {
    @content;
  }
}

/*=============================== DESCTOP TO FIRST =================================*/

// ONLY BEFORE SM
@mixin vh-before-sm {
  @media (max-height: #{$screen-sm}) {
    @content;
  }
}

// ONLY BEFORE SM
@mixin vh-before-md {
  @media (max-height: #{$screen-md}) {
    @content;
  }
}

// ONLY BEFORE lg
@mixin vh-before-lg {
  @media (max-height: #{$screen-lg}) {
    @content;
  }
}

// ONLY BEFORE XL
@mixin vh-before-xl {
  @media (max-height: #{$screen-xl}) {
    @content;
  }
}

// ONLY BEFORE XXL
@mixin vh-before-xxl {
  @media (max-height: #{$screen-2xl}) {
    @content;
  }
}

// ONLY BEFORE XXXL
@mixin vh-before-xxxl {
  @media (max-height: #{$screen-4xl}) {
    @content;
  }
}
